#cart  *{
      margin: 3px 5px;
      padding: 1px 1px;
}
#cart {
  padding-top: 40px; 
  padding-left: 100px;
}
#cart .product-info{
    display: flex;
    flex-basis: 50%;
}
.main-cart .title-1{
    color: #000;
    background-color: #f1f1f1;
    font-family: GeometricExtraBold;
    font-size: 23px;
    margin: 20px 0px 20px 0px;
    padding: 5px 20px 5px 20px;
}
#cart .media-left,.media-body,.media-right{
    display: table-cell;
    vertical-align: top;
}
#cart .media-left{
    padding-right: 20px ;
}
#cart .media .media-left .media-object{
    height: 180px;
    width: 180px;
}

#cart .product-info{
  margin-top: 10px;
  margin-bottom:10px;
}
#cart a{
    color:#000;
    text-decoration: none;
}
#cart .media-heading {
  margin-top: -10px;
}
#cart .media-body .price {
  padding-left: -10px;
}
#cart .main-cart-left .item-2 .price {
    color: #808080;
    font-family: NunitoSanRegular;
    margin-top: 10px;
}

#cart .media-body{
    width: 300px;
}

#cart .media-body .row{
    display: flex;
    flex:50%;
}

#cart .media-body .bottom{
    margin-top: -15px;
}

#cart .selectpicker{
    width: 70px;
    height: 30px;
    font-weight: 600;
}


#cart .sizePicker,.quanPicker{
    margin-right: 50px;
}

#cart .media-right .button{
    width:100px;
    height: 40px;
    background-color:black;
    color: white;
    text-align: center;
    margin-top: 10px;
}

#cart .media-right .button .fa-trash{
    margin-top: 10px;
}
#cart .media-right h4{
    margin-top: -10px;
}

.main-cart>.row{
    display: flex;
}

.main-cart-right{
    margin-left: 50px;
}

#cart .bill_container{

    margin-left: 50px;
    width: 30%;
    padding: 20px;
    height: initial;
  
  }
#cart  .bill{
    background-color: #f1f1f1;
    height: auto;
    padding: 20px;
  }
  
#cart h2{
    padding-bottom: 20px;
    border-bottom: 2px black solid;
  }
  
#cart .group_title{
  
    width: 100%;
    height: 50px;
    color:red;

    font-weight: bold;
    font-size: 23px;
    background-color: #f1f1f1;
  }
#cart .group_item{
    margin: 20px 0 20px 0;
  }
  
 #cart .divider{
    margin-top:-15px;
    border-bottom: 2px black solid;
  }
  
 #cart .divider-dashed{
    border-bottom: 2px black dashed;
  }
  #cart .total,.discount{
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    font-weight: bold;
  }

 #cart .promotion h4{
    font-size: 18px;
  }
 #cart #price{
    color: orangered;
  }
  #cart li{
    list-style: none;
  }
 #cart .submitBtn{
    background-color: orangered;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    border: none;
  }