* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style: none;
}

div {
    display: block;
}

:root {
    --main-color: #f15e2c;
}

.container{
    height: auto;
    display: block;
}
.row {}

.col {
    float: left;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33%;
}

/* Slider */
#slider {
    margin-top: 100px;
    padding-top: 55%;
    background-image: url('./img/1.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

/* end slider */

/* home collection */
#home-collection {
    max-width: 1200px;
    padding-top: 80px;
    margin: 0 auto;
    height: auto;

}

.hc1 {
    padding-left: 5px;
    padding-right: 20px;
}

.hc2 {
    padding-left: 20px;
    padding-right: 5px;
}

.hc-img.img1 {
    width: 100%;
    height: 305px;
}

.hc-content {
    margin-top: 30px;
}

.hc-content a {
    color: black;
}

.hc-content a:hover {
    color: #f15e2c;
}

.hc-content p {
    margin: 10px 0;
    font-size: 14px;
}


/* end home collection */

/* home menu */
#home-menu {
    height: 60vh;
    padding-left: 10px;
}

#home-menu .hm-background img {
    width: 100%;
    filter: grayscale(50%);
}

#home-menu .hm-background {
    padding: 0 20px;
}

#home-menu h2 {
    text-align: center;
    padding: 30px 0px;
}

#home-menu .col-third {
    position: relative;
}

#home-menu .hm-items {
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
}

#home-menu .hm-items a {
    display: block;
    padding-bottom: 10px;
    color: white;
}

#home-menu .hm-items .title {
    font-weight: 700;
    font-size: 22px;
}

#home-menu .hm-items .sub {
    font-size: 15px;
    font-weight: 600;
}

#home-menu .hm-items a:hover {
    color: #f15e2c;
}

/* end home menu */

/* Best seller */
#bestseller h2 {
    /* height: 100px; */
    text-align: center;
    padding: 30px;
}

/* end Best seller */

/* Banner */
#banner img {
    width: 100%;
}

/* End Banner */

/* Instagram news */
#social-media h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

#social-media img {
    width: 95%;
    padding-left: 40px;
}

/* End Instagram news */